.lm {
	margin:0;
	text-align:center;
	color:#000;
	font:normal 12px Arial,Verdana,Tahoma;
	text-align:center;
	background:#C8D0D5;
	line-height:150%;
}
.lm a:link, a:visited {
	color:#385065;
	text-decoration:none
}
.lm a:hover {
	text-decoration:underline
}
.lm #menu {
	width:98%;
	margin:0px 0px;
	padding:0px;
	text-align:left;
	list-style:none
}
.lm #menu .item {
	margin:0px 0px;
	padding:0px;
	list-style:none
}
.lm a.title:link, a.title:visited, a.title:hover {
	display:block;
	background: #cccccc;
	color:#385065;
	font-weight:bold;
	padding:2px 0 0 22px;
	width:128px;
	line-height:23px;
	cursor:pointer;
	text-decoration:none
}
.lm a:hover {
	cursor: hand;
}
.optiton a:hover {
	cursor: hand;
}
.lm #menu .item ul {
	border:1px solid #9FACB7;
	margin:0;
	width:98%;
	padding:3px 0px 3px 10px;
	background:#fff;
	list-style:none;
	display:none
}
.lm #menu .item ul li {
	display:block;
}